/* Landmark */

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
.red {
  background-color: red;
}

/* Global */

@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

.ff {
  font-family: "Oswald", sans-serif;
}

.container {
  width: auto;
}

.mt-20 {
  margin-top: 20px;
}

.ml-60 {
  margin-left: 60px;
}
